body{
    background-color: orange;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}

nav{
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
    list-style: none;

}

