body{
    background-color: #474749;
}
.item-flex{
    background-color: white;
    width: 120px;
    margin: 6px;
    border-radius: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    font-size: 48px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #CEB342;
}
#contenedor-flexible1, #contenedor-flexible2, #contenedor-flexible3, #contenedor-flexible4, #contenedor-flexible5, #contenedor-flexible6, #contenedor-flexible7, #contenedor-flexible8, #contenedor-flexible9, #contenedor-flexible10, #contenedor-flexible11{
    display: flex;
    border-bottom: 4px solid #CEB342;
}

#contenedor-flexible1{ 
    flex-direction: row;
}

#contenedor-flexible2{
    flex-direction: row-reverse;
}

#contenedor-flexible3{
    flex-direction: row;
    justify-content: center;
}
#contenedor-flexible4{
    flex-direction: row;
    justify-content: space-between;
}
#contenedor-flexible5{
    flex-direction: column;
}
#contenedor-flexible6{
    flex-direction: column-reverse;
}
#contenedor-flexible7{
    flex-wrap: wrap;
}
#contenedor-flexible8{
    height: 240px;
}
#contenedor-flexible9{
    height: 240px;
    align-items: flex-end;
}
#contenedor-flexible10{
    height: 480px;
    align-items: flex-start;
    flex-wrap: wrap;
}
#contenedor-flexible11{
    height: 480px;
    align-items: center;
    
}