@font-face {
  font-family: "MiMenu";
  src: url("LigatureSymbols-2.11.woff");
}

[class^="icon-"],
[class*="icon-"] {
  font-family: "Mimenu";
  font-style: normal;
  font-size: 40px;
}

.icon-inicio::before {
  content: "\e072";
}
.icon-planes::before {
  content: "\e173";
}
.icon-galeria::before {
  content: "\e155";
}

body {
  display: flex;
  flex-direction: column;
  background-color: #3f4c52;
}

#cabeceira, #botonera, #imaxe, #texto{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  color: white;
  font-family: Arial;
}

#cabeceira {
  margin-top: 48px;
  height: 72px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  border-bottom: 2px solid white;
}

#botonera {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#botonera div {
  margin: 24px;
  font-size: 30px;
}

#imaxe img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
a {
  text-decoration: none;
  color: white;
}



