h1{
  text-align: center;
  font-family: arial;
  color: rgb(127, 127, 127);
}
.cabeceira {
  background-color: rgb(127, 127, 127);
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
tr:nth-child(even) {
  background-color: rgb(225, 225, 225);
}
tr:nth-child(odd) {
  background-color: rgb(200, 200, 200);
}

td {
  padding: 6px;
  border-style: solid;
  border-color: rgb(225, 225, 225);
  border-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
table {
  margin: 0px auto;
  font-family: arial;
  border-collapse: collapse;
  border-color: black;
  border-width: 2px;
  border-style: groove;
}
