:root {
    --tamaño: 200px;
}
body{
    background-color: #d1d1d1;
}
p {
    font-family: arial;
    width: var(--tamaño);
    height: var(--tamaño);
    border-style: dashed;
    border-width: 4px;
    border-color: #3e3e3e;
    background-color: #939393;
    margin: 12px;
    text-justify: center;
    float: left;
}
p::first-letter{
    font-size: 3em;
    float:left;
    padding-right:10px;
    color: #3e3e3e;
}
h1 {
    text-transform: uppercase;
    font-family: arial;
    text-align: center;
    font-size: 3em;
    margin: 0px;
    color: #3e3e3e;
    letter-spacing:20px;
}