:root {
    --tamaño: 200px;
}
body{
    background-color: #E0E1EB;
    font-family: arial;
    color: white;
}
h1, h2{
    margin: 0px;
    background-color: #31334D
}
h1{
    margin-bottom: 12px;
}
#escritorio, #internet{
    position: absolute;
    width: 38%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
#escritorio{

    margin-left: 6%;
    margin-right: 6%;

}
#internet{
    margin-left: 56%;
    margin-right: 6%;
}
h2 {
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
}
h3, p{
    margin-left: 12px;
    margin-right: 12px;
}
h3 {
    background-color: #2CAB32;
    text-align: start;
    margin-bottom: 0px;
    margin-top: 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
}
p{
    background-color: white;
    color: black;
    margin-top: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 6px;
}
